Button {
    width: 1fr;
    margin: 1 1;
    text-style: bold;
}
Button#deal, Button#paste {
    tint: green 40%;
}
Button#reset {
    tint: red 40%;
}
Label {
    width: 100%;
    padding: 1;
    content-align-horizontal: center;
    content-align-vertical: middle;
    text-style: bold;
}
